{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h2>Inscrire un élève</h2>

    {{ form_start(registrationForm) }}
    {{ form_widget(registrationForm) }}
    <button type="submit" class="btn">Inscrire l'élève</button>
    {{ form_end(registrationForm) }}
{% endblock %}
