{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | S'inscirre à une sortie{% endblock %}

{% block body %}

        <div id="inscriptionSortie">
            {{ app.user.prenom }}, êtes-vous sûr(e) de vouloir supprimer la sortie {{ sortie.nom }} ?
        </div>


        <a href="{{ path('validation_annulation_sortie',{'idSortie':sortie.id}) }}">
            <button type="submit" id="suppressionSortie">Supprimer la sortie</button>
        </a>
        <a href="{{ path('main_home') }}"><button type="action" id="annuler"> Annuler</button>
        </a>

{% endblock %}



