{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Se désister d'une sortie{% endblock %}

{% block body %}
{#    <form method="post">#}
    {#        {{ form_start(form) }}#}
    <div id="desisterSortie">
        {{ participant.prenom }}, êtes-vous sûr(e) de vouloir vous désister à la sortie {{ sortie.nom }} ?
    </div>


    <a href="{{ path('desistement_inscription',{'idSortie':sortie.id,'idParticipant':participant.id}) }}"> <button type="submit" id="insciptionSortie">Se désister</button></a>
    <a href="{{ path('main_home') }}">
        {#            {{ form_end(form) }}#}
        <button type="action" id="annuler"> Annuler</button>
    </a>
</form>
{% endblock %}
