{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block body %}
    <style>

        #logo {
            animation: mymove 5s ;

        }

        @keyframes mymove {
            50% {transform: rotatex(360deg);}
        }

        #creerSortie {margin-top:30px;}
    </style>
    <div id="infos">
        <div>Date du jour : {{ "now" | date("d/m/Y") }}</div>
        <div>Participant : {{ app.user.prenom }} {{ app.user.nom|slice(0, 1) }}.</div>
    </div>


        {# FORMULAIRE DE RECHERCHE (en inclusion pour + de propreté) #}
        {% include 'inc/rechercheSorties.html.twig' with {form:form} only %}

        {# RESULTATS RECHERCHE #}
        {% include 'inc/resultatsSorties.html.twig' %}

    {# TODO : Faire un lien avec page Créer une sortie #}
    <a href="{{ path('creer_Sortie', {'idOrganisateur':app.user.id}) }}"> <button type="Onclick" id="creerSortie">Créer une sortie</button> </a>
{% endblock %}



