{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | S'inscirre à une sortie{% endblock %}

{% block body %}
    <div id="inscriptionSortie">
        {{ participant.prenom }}, êtes-vous sûr(e) de vouloir vous inscire à la sortie {{ sortie.nom }} ?
    </div>


    <a href="{{ path('validation_inscription',{'idSortie':sortie.id,'idParticipant':participant.id}) }}">
        <button type="submit" id="insciptionSortie">S'inscrire</button>
    </a>
    <a href="{{ path('main_home') }}">
        <button type="action" id="annuler"> Annuler</button>
    </a>
{% endblock %}



