{% extends 'base.html.twig' %}

{% block title %}
    Ajout d'un lieu | {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Ajout d'un lieu</h1>
    <div class="formulaire">
        {{ form_start(AjoutLieuForm) }}
        {{ form_widget(AjoutLieuForm) }}
        <a href="{{ path('creer_Sortie', {'idOrganisateur':1}) }}">
        <button type="submit" class="btn">Ajouter un lieu</button>
        </a>
        {{ form_end(AjoutLieuForm) }}
        <a href="{{ path('creer_Sortie', {'idOrganisateur':1}) }}">
            <button  class="twelve" id="annuler"> Annuler</button>
        </a>
    </div>


{% endblock %}




