{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Création d'une sortie{% endblock %}

{% block body %}
    <h1>Créer une sortie</h1>
    <div class="formulaire">
        {{ form_start(CreerSortieForm) }}
        {{ form_widget(CreerSortieForm) }}
        <div id="logoPlus">
            <a href="{{ path('ajout_lieu', {'idOrganisateur':app.user.id}) }}"><img src="{{ asset('img/plus.png') }}" alt="ajouter_lieu"></a>
        </div>
        {{ form_end(CreerSortieForm) }}
{#        <button type="submit" class="btn">Créer une sortie</button>#}
        <a href="{{ path('main_home') }}">
            <button  class="twelve" id="annuler"> Annuler</button>
        </a>
    </div>


{% endblock %}




