{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Mon Profil{% endblock %}

{% block body %}

<style> .wrapper {text-align: center; display:block; margin-left:auto;margin-right:auto; margin-top:-100px;}
    .wrapper input {text-align: center; display:block; margin-left:auto;margin-right:auto;}
input, h1, p {text-align:center;}
.btn22 {cursor:pointer; border: 1px solid #ccc; padding:15px 15px; width:15%;margin-left:auto;margin-right:auto; margin-bottom:40px;}
    .btn22 a {color:black;}
    .btn22:hover {background:#1c3956;color:white;}
    .btn22:hover a {color:white;}
</style>


    <h1>Mon Profil</h1>

    <p>Bienvenue sur votre page de profil:</p>


<form method="post">
<div class="wrapper">

{#    <div class="formulaire">#}
{#        <label for="inputPseudo">Identifiant</label>#}
{#        <input type="text" value="{{ user.pseudo}}" name="pseudo" id="inputPseudo" class="form-control" required#}
{#               autofocus>#}
{#        <label for="inputPassword">Mot de passe</label>#}
{#        <input type="password" value="{{ user.password}}"name="password" id="inputPassword" class="form-control" required>#}
{#        <label for="inputPassword">Confirmation ot de passe</label>#}
{#        <input type="password" value="{{ user.password}}"name="password" id="inputPassword" class="form-control" required>#}

{#        <input type="hidden" name="_csrf_token"#}
{#               value="{{ csrf_token('authenticate') }}">#}
{#    </div>#}
{#    <button class="button" type="submit">#}
{#        Modifier#}
{#    </button>#}
{#</div></form>#}
    {{ form_start(profilForm) }}
    <p id="error2" style="font-size:16px;color:#ff0000;"></p>
    {{ form_row(profilForm.Pseudo)}}
    {{ form_row(profilForm.Nom)}}
    {{ form_row(profilForm.Prenom)}}
    {{ form_row(profilForm.Telephone)}}
    {{ form_row(profilForm.Mail)}}
    {{ form_row(profilForm.password)}}

    {{ form_row(profilForm.Campus)}}
    <p id="error" style="font-size:16px;color:#ff0000;"></p>
  <div class="btn22">  <a href="{{path('upload')}}">Cliquez ici pour télécharger votre photo de profil</a>

  </div>
    <button class="button" id="btn" type="submit">
    Modifier
</button>


    {{ form_end(profilForm) }}
    {# test 2ème méthode pour validation #}

{#    {{ form_start(profilForm) }}#}

{#    {{ form_widget((profilForm)) }}#}

{#    <label for="{{field_name(profilForm.pseudo)}}">Pseudo</label>#}
{#    <input type="text" id="{{field_name(profilForm.pseudo)}}" value="{{ user.username }}">#}

{#    <label for="{{field_name(profilForm.nom)}}">Nom</label>#}
{#    <input type="text" id="{{field_name(profilForm.nom)}}" value="{{ app.user.nom }}">#}

{#    <label for="{{field_name(profilForm.prenom)}}">Prenom</label>#}
{#    <input type="text" id="{{field_name(profilForm.prenom)}}" value="{{ app.user.prenom }}">#}

{#    <label for="{{field_name(profilForm.telephone)}}">Telphone</label>#}
{#    <input type="text" id="{{field_name(profilForm.telephone)}}" value="{{ app.user.telephone }}">#}

{#    <label for="{{field_name(profilForm.mail)}}">Mail</label>#}
{#    <input type="text" id="{{field_name(profilForm.mail)}}" value="{{ app.user.mail }}">#}

{#    <label for="{{field_name(profilForm.password)}}">Password</label>#}
{#    <input type="text" id="{{field_name(profilForm.password)}}" value="{{ app.user.password }}">#}

{#    <label for="{{field_name(profilForm.password)}}">Confirmation Password</label>#}
{#    <input type="text" id="{{field_name(profilForm.password)}}" value="{{ app.user.password }}">#}

{#    {{ form_row(profilForm.sorties) }}#}


{#    <label for="profil_form_campus">Campus</label>#}
{#    <select id="profil_form_Campus" name="profil_form[Campus]">#}
{#        <option value="0"> {{ app.user.campus }}</option>#}
{#        <option value="1">SAINT HERBLAIN</option>#}
{#        <option value="2">CHARTRES DE BRETAGNE</option>#}
{#        <option value="3">LA ROCHE SUR YON</option></select>#}

{#     <label for="profil_form_sorties">Sortie</label>#}
{#    <select id="profil_form_sorties" name="profil_form[sorties][]" multiple="multiple"></select>#}

{#    <label for="">Photo</label>#}
{#    <input type="file" id="" value="">#}



{#    <button type="submit" id="save" class="btn" onclick="click()">Enregistrer</button>#}
{#    <button type="submit" class="btn">Modifier</button>#}

{#    {{ form_end(profilForm) }}#}






</div>
<script>
    document.getElementById("profil_form_Telephone").addEventListener("change", verifLength);
    document.getElementById("profil_form_Mail").addEventListener("change", verifLength);
    document.getElementById("profil_form_Nom").addEventListener("change", verifLength);
    document.getElementById("profil_form_Prenom").addEventListener("change", verifLength);
    document.getElementById("profil_form_Pseudo").addEventListener("change", verifLength);
    document.getElementById("profil_form_password_first").addEventListener("change", verifMdp);
    document.getElementById("profil_form_password_second").addEventListener("change", verifConfirm);

function verifLength () {

    var telephone = document.getElementById("profil_form_Telephone").value;
    var nom = document.getElementById("profil_form_Nom").value;
    var prenom = document.getElementById("profil_form_Prenom").value;
    var pseudo = document.getElementById("profil_form_Pseudo").value;
    var mail = document.getElementById("profil_form_Mail").value;

    if(pseudo.length >30) {  var info4 = document.createElement("P");

        var textInfo4 = document.createTextNode("Votre pseudo doit contenir max 30 caractères.");

        info4.appendChild(textInfo4);
        document.getElementById("error2").appendChild(info4);
        setTimeout(function(){   textInfo4.remove(); }, 5000);


        document.getElementById('btn').style.display="none";} else {   document.getElementById('btn').style.display="unset";   }

    if(nom.length >30) {



        var info5 = document.createElement("P");

        var textInfo5 = document.createTextNode("Votre nom doit contenir max 30 caractères.");

        info5.appendChild(textInfo5);
        document.getElementById("error2").appendChild(info5);
        setTimeout(function(){   textInfo5.remove(); }, 5000);


        document.getElementById('btn').style.display="none";} else {     document.getElementById('btn').style.display="unset";  }




    if(prenom.length >15) {

        var info6 = document.createElement("P");

        var textInfo6 = document.createTextNode("Votre prenom doit contenir max 15 caractères.");

        info6.appendChild(textInfo6);
        document.getElementById("error2").appendChild(info6);
        setTimeout(function(){   textInfo6.remove(); }, 5000);


        document.getElementById('btn').style.display="none";




    } else {           document.getElementById('btn').style.display="unset";     }



    if(telephone.length >30) { alert('Votre telephone ne doit pas dépasser 30 caractères.')}

    if(mail.length >30) { alert('Votre mail ne doit pas dépasser 30 caractères.')}
}
    function verifMdp () {

var pw = document.getElementById("profil_form_password_first").value;
if(pw.length <8) {


    var info2 = document.createElement("P");

    var textInfo2 = document.createTextNode("Votre mot de passe comporte moins de 8 caracteres.");

    info2.appendChild(textInfo2);
    document.getElementById("error").appendChild(info2);
    setTimeout(function(){   textInfo2.remove(); }, 5000);


        document.getElementById('btn').style.display="none";




} else {  document.getElementById('btn').style.display="unset";  }

                        }






    function verifConfirm () {
        var pw = document.getElementById("profil_form_password_first").value;
        var pw2 = document.getElementById("profil_form_password_second").value;
        if(pw2!=pw) {


            var info3 = document.createElement("P");

            var textInfo3 = document.createTextNode("Votre confirmation n'est pas identique !");

            info3.appendChild(textInfo3);
            document.getElementById("error").appendChild(info3);
            setTimeout(function(){   textInfo3.remove(); }, 5000);

            document.getElementById('btn').style.display="none";
        }else {  document.getElementById('btn').style.display="unset";  }

    }


</script>


    <script>
        document.getElementById("test").addEventListener("click", disableMonProfil);

        function disableMonProfil() { document.getElementById("test").href="../profil/{{ app.user.id }}"; }

    </script>
{% endblock %}



