{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}

<style> label {text-align: center; display:block; margin-left:auto;margin-right:auto;}
input, h1, p {text-align:center;}
.wrapper {display:block; margin-top:-100px;}</style>


    <h1>Mon Profil</h1>

    <p>Bienvenue sur votre page profil:</p>

       {#  {{ form (profilForm) }} #}


<div class="wrapper">

    {{ form_start(profilForm) }}
    <label for="{{field_name(profilForm.pseudo)}}">Pseudo</label>
    <input type="text" id="{{field_name(profilForm.pseudo)}}" value="{{ app.user.pseudo }}">

    <label for="{{field_name(profilForm.nom)}}">Nom</label>
    <input type="text" id="{{field_name(profilForm.nom)}}" value="{{ app.user.nom }}">

    <label for="{{field_name(profilForm.prenom)}}">Prenom</label>
    <input type="text" id="{{field_name(profilForm.prenom)}}" value="{{ app.user.prenom }}">

    <label for="{{field_name(profilForm.telephone)}}">Telphone</label>
    <input type="text" id="{{field_name(profilForm.telephone)}}" value="{{ app.user.telephone }}">

    <label for="{{field_name(profilForm.mail)}}">Mail</label>
    <input type="text" id="{{field_name(profilForm.mail)}}" value="{{ app.user.mail }}">

    <label for="{{field_name(profilForm.password)}}">Password</label>
    <input type="text" id="{{field_name(profilForm.password)}}" value="{{ app.user.password }}">

    <label for="{{field_name(profilForm.password)}}">Confirmation Password</label>
    <input type="text" id="{{field_name(profilForm.password)}}" value="{{ app.user.password }}">


      {# CHECKER PROBLEME OUTPUT DES SORTIES et CAMPUS #}

    {#  <label for="{{field_name(profilForm.sorties)}}">Sorties</label>
    <textarea id="{{field_name(profilForm.mail)}}" value="{{ app.user.sorties }}">#}

    {{ form_end(profilForm) }}



    <button type="submit" class="btn">Enregistrer</button>
    <button type="submit" class="btn">Modifier</button>





</div>


{% endblock %}
