<div id="tab_resultats">
    <table>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>Inscrits/places</th>
            <th class="sortieTable">Etat</th>
            <th class="sortieTable">Inscrit</th>
            <th class="sortieTable">Organisateur</th>
            <th>Actions</th>
        </tr>
        {% for sortie in sorties %}

            {# TODO : MASQUER LES SORTIES DONT L ETAT EST A ARCHIVE #}
            {# {% if Services.EtatsUpdater.estHistorisee == false %} #}

            <tr class="tableauAccueil">
                <td>{{ sortie.nom }}</td>
                <td class="dateDebut">{{ sortie.dateHeureDebut | date('d/m/Y H:i') }}</td>
                <td>{{ sortie.dateLimiteInscription |date('d/m/Y') }}</td>
                <td>{{ sortie.participants | length }}/{{ sortie.nombreInscriptionsMax }}</td>
                <td class="sortieTable">{{ sortie.etats.libelle }}</td>
                <td class="sortieTable"> {% for participant in sortie.participants %}
                        {% if app.user.id == participant.id %}
                            X

                        {% endif %}


                    {% endfor %}</td>
                {# TODO METTRE UN PATH POUR ACCEDER AU PROFIL DE L'ORGANISATEUR #}



                <td class="sortieTable"><a href="{{ path('profilParticipant_profil',{'id':sortie.organisateur.id}) }}"
                  style="text-decoration: underline dotted;">{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom|slice(0,1) }}
                        .</a></td>
                {# Fonctionnalités en fonction du statut de l'utilisateur et de la sortie #}
                <td>
                    <a href="{{ path('detailSortie',{'idSortie':sortie.id}) }}">Afficher </a>
                    {# S'inscrire, doit apparaitre uniquement si la sortie est ouverte, que la date d'inscription n'est pas atteinte,
                   que le nombre d'inscrit est inférieur au nombre de places et que l'élève n'est pas déjà inscrit #}
                    {# Modifer la sortie apparaît seulement si l'organisteur est connecté #}
                    {% if ((app.user==sortie.organisateur) and (sortie.etats.libelle == 'Créée')) %}
                        <a href="{{ path('modifierSortie',{'idSortie':sortie.id}) }}"
                           id="{{ sortie.id }}"> - Modifier </a>
                    {% endif %}

{# and (sortie.dateLimiteInscription | date("m/d/YY hh:mm")> "now"|date("m/d/y hh:mm"))#}
{#                    pour la ligne du dessous#}
                    {% if(sortie.etats.libelle == 'Ouverte') and sortie.participants | length < sortie.nombreInscriptionsMax %}
                        <a href="{{ path('validation_inscription',{'idSortie':sortie.id,'idParticipant':app.user.id}) }}"
                           id="{{ sortie.id }}"> - S'inscrire </a>
                        <script>

                            if (document.getElementById('test{{ sortie.id }}').innerText) {
                                document.getElementById('{{ sortie.id }}').style.display = "none";
                            } else {
                                document.getElementById('{{ sortie.id }}').style.display = "unset";
                            }</script>

                        <script>
                            document.getElementById('{{ sortie.id }}').addEventListener("click", on)


                            function on() {
                                if (confirm("Etes-vous sûr de vouloir vous inscrire à la sortie {{ sortie.nom }}") == true) {
                                    {# alert('ok was pressed'); #}
                                } else { {# alert('cancel was pressed'); #}
                                    var a = document.getElementById('{{ sortie.id }}');
                                    a.href = "{{ path('main_home') }}"

                                }
                            }


                        </script>



                        {# {% for participant in sortie.participants %} #}
                        {# {% if participant.id==app.user.id %} <a #}
                        {# href="{{ path('desistement_inscription',{'idSortie':sortie.id,'idParticipant':app.user.id}) }}" #}
                        {# id="d{{ sortie.id }}">Se désister</a> #}

                        <script>
                            document.getElementById('d{{ sortie.id }}').addEventListener("click", on)


                            function on() {
                                if (confirm("Etes-vous sûr de vouloir vous désinscrire de la sortie {{ sortie.nom }} ?") == true) {
                                    {# alert('ok was pressed'); #}
                                } else { {# alert('cancel was pressed'); #}
                                    var a = document.getElementById('d{{ sortie.id }}');
                                    a.href = "{{ path('main_home') }}"

                                }
                            }


                        </script>

                        {# {% endif %} #}
                        {# {% endfor %} #}


                    {% endif %}
                    {# Affichage du lien "annuler", seulement si c'est l'organisateur de la sortie qui est connecté #}
                    {% if (app.user.id == sortie.organisateur.id)  and (sortie.etats.libelle == 'Ouverte') %}
                        <a href="{{ path('annulation_sortie',{'idSortie':sortie.id}) }}">
                            - Annuler</a>
                    {% endif %}
                    {% for participant in sortie.participants %}
                        {% if (participant.id==app.user.id) %}
                            {% if (sortie.etats.libelle == 'Clôturée') or (sortie.etats.libelle == 'Ouverte') %} <a
                                    href="{{ path('desistement_inscription',{'idSortie':sortie.id,'idParticipant':app.user.id}) }}"
                                    id="d{{ sortie.id }}"> - Se désister</a>
                            {% endif %}{% endif %}
                    {% endfor %}
                    <script>
                        document.getElementById('d{{ sortie.id }}').addEventListener("click", on)


                        function on() {
                            if (confirm("Etes-vous sûr de vouloir vous désinscrire de la sortie {{ sortie.nom }} ?") == true) {
                                {# alert('ok was pressed'); #}
                            } else { {# alert('cancel was pressed'); #}
                                var a = document.getElementById('d{{ sortie.id }}');
                                a.href = "{{ path('main_home') }}"

                            }
                        }


                    </script>
                </td>
            </tr>
            {# {% endif %} #}
        {% endfor %}
    </table>
</div>


{# <script> #}

{# if (document.getElementById('test1').innerText) { #}
{# document.getElementById('1').style.display = "none"; #}
{# } else { #}
{# document.getElementById('1').style.display = "unset"; #}
{# } #}


{# </script> #}


{# <script> #}

{# if (document.getElementById('test2').innerText) { #}
{# document.getElementById('2').style.display = "none"; #}
{# } else { #}
{# document.getElementById('2').style.display = "unset"; #}
{# } #}


{# </script> #}


{# <script> #}

{# if (document.getElementById('test3').innerText) { #}
{# document.getElementById('3').style.display = "none"; #}
{# } else { #}
{# document.getElementById('3').style.display = "unset"; #}
{# } #}


{# </script> #}

{# <script> #}

{# if (document.getElementById('test4').innerText) { #}
{# document.getElementById('4').style.display = "none"; #}
{# } else { #}
{# document.getElementById('4').style.display = "unset"; #}
{# } #}


{# </script> #}

{# <script> #}

{# if (document.getElementById('test5').innerText) { #}
{# document.getElementById('5').style.display = "none"; #}
{# } else { #}
{# document.getElementById('5').style.display = "unset"; #}
{# } #}


{# </script> #}


{# <script> #}

{# if (document.getElementById('test6').innerText) { #}
{# document.getElementById('6').style.display = "none"; #}
{# } else { #}
{# document.getElementById('6').style.display = "unset"; #}
{# } #}


{# </script> #}


{# <script> #}

{# if (document.getElementById('test7').innerText) { #}
{# document.getElementById('7').style.display = "none"; #}
{# } else { #}
{# document.getElementById('7').style.display = "unset"; #}
{# } #}


{# </script> #}


{# <script> #}

{# if (document.getElementById('test8').innerText) { #}
{# document.getElementById('8').style.display = "none"; #}
{# } else { #}
{# document.getElementById('8').style.display = "unset"; #}
{# } #}


{# </script> #}


{# <script> #}

{# if (document.getElementById('test9').innerText) { #}
{# document.getElementById('9').style.display = "none"; #}
{# } else { #}
{# document.getElementById('9').style.display = "unset"; #}
{# } #}


{# </script> #}


{# <script> #}

{# if (document.getElementById('test10').innerText) { #}
{# document.getElementById('10').style.display = "none"; #}
{# } else { #}
{# document.getElementById('10').style.display = "unset"; #}
{# } #}


{# </script> #}

{# <script> #}
{# /* #}
{# var debutDate = document.getElementById('dateDebut').innerHTML; #}
{# #}
{# #}
{# var today = new Date() #}
{# #}
{# today.setMonth(today.getMonth() - 1); #}
{# #}
{# var today2 = today.toLocaleString(); #}
{# #}
{# if (debutDate < today2) { #}
{# #}
{# #}
{# /*alert('hello' + debutDate) #}
{# document.getElementById('sortieTable').style.display = "none"; #}
{# #}
{# } #}
{# #}
{# */ #}


{# </script> #}

{# <script> #}
{# /*document.getElementById("desister").addEventListener("click", confirmCancel); #}

{# function confirmCancel() { #}


{# if (confirm("Cliquer sur OK pour confirmer le désistement.") == true) { #}
{# alert('ok was pressed'); #}

{# var a = document.getElementById('desister'); #}
{# a.href = "/#" #}


{# } else { #}
{# alert('cancel was pressed'); #}
{# } #}
{# } #}

{# */ #}
{# </script> #}

