<div id="tab_resultats">
        <table>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
            {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom}}</td>
                <td>{{ sortie.dateHeureDebut | date('d/m/Y H:i')}}</td>
                <td>{{ sortie.dateLimiteInscription |date('d/m/Y') }}</td>
                <td>{{ sortie.participants | length}}/{{ sortie.nombreInscriptionsMax }}</td>
                <td>{{ sortie.etats.libelle}}</td>
                <td> {% for participant in sortie.participants %}
                        {% if app.user.id == participant.id %}
                        X

                        {% endif%}
                    {% endfor %}</td>
                <td>créer lien</td>
                <td>créer lien</td>
            </tr>
            {% endfor %}
        </table>
</div>

