<div id="tab_resultats">
    <table>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>Inscrits/places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
        {% for sortie in sorties %}
            <tr id="sortieTable">
                <td>{{ sortie.nom }}</td>
                <td id="dateDebut">{{ sortie.dateHeureDebut | date('d/m/Y H:i') }}</td>
                <td>{{ sortie.dateLimiteInscription |date('d/m/Y') }}</td>
                <td>{{ sortie.participants | length }}/{{ sortie.nombreInscriptionsMax }}</td>
                <td>{{ sortie.etats.libelle }}</td>
                <td id="test{{ sortie.id }}"> {% for participant in sortie.participants %}
                        {% if app.user.id == participant.id %}
                            X

                        {% endif %}


                    {% endfor %}</td>

                {# TODO METTRE UN PATH POUR ACCEDER AU PROFIL DE L'ORGANISATEUR #}
                <td>{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom|slice(0,1) }}.</td>
                {# Fonctionnalités en fonction du statut de l'utilisateur et de la sortie #}
                <td>
                    {# S'inscrire, doit apparaitre uniquement si la sortie est ouverte, que la date d'inscription n'est pas atteinte,
                   que le nombre d'inscrit est inférieur au nombre de places et que l'élève n'est pas déjà inscrit #}

                    {% if(sortie.etats.libelle == 'Ouverte') and (sortie.dateLimiteInscription | date("m/d/YY hh:mm")> "now"|date("m/d/y hh:mm")) and sortie.participants | length < sortie.nombreInscriptionsMax %}
                        <a href="{{ path('inscription_sortie',{'idSortie':sortie.id,'idParticipant':app.user.id}) }}"
                           id="{{ sortie.id }}">S'inscrire </a>  <script>

                            if (document.getElementById('test{{ sortie.id }}').innerText) {
                                document.getElementById('{{ sortie.id }}').style.display = "none";
                            } else {
                                document.getElementById('{{ sortie.id }}').style.display = "unset";
                            }</script>


{#                        #}{# Affichage du lien se désister, seulement si l'utilisateur connecté est inscrit à la sortie #}
{#                    {% if app.user  in [sortie.participants] %}#}
{#                        <a href="{{ path('desister_inscription',{'idSortie':sortie.id,'idParticipant':app.user.id}) }}"#}
{#                           id="desister">Se désister</a>#}

{#                    {% endif %}#}

                        {% for participant in sortie.participants %}
                    {% if participant.id==app.user.id %} <a
                            href="{{ path('desister_inscription',{'idSortie':sortie.id,'idParticipant':app.user.id}) }}"
                            id="desister">Se désister</a>

                    {% endif %}
                        {% endfor %}


                    {% endif %}
                    {# Affichage du lien "annuler", seulement si c'est l'oraginsateur de la sortie qui est connecté #}
                    {% if (app.user.id == sortie.organisateur.id)  and (sortie.etats.libelle == 'Ouverte') %}
                        <a href="{{ path('annulation_sortie',{'idSortie':sortie.id}) }}">
                            Annuler</a>
                    {% endif %}

                </td>
            </tr>

        {% endfor %}
    </table>
</div>

{# <script> #}

{# if (document.getElementById('test1').innerText) { #}
{# document.getElementById('1').style.display = "none"; #}
{# } else { #}
{# document.getElementById('1').style.display = "unset"; #}
{# } #}


{# </script> #}


{# <script> #}

{# if (document.getElementById('test2').innerText) { #}
{# document.getElementById('2').style.display = "none"; #}
{# } else { #}
{# document.getElementById('2').style.display = "unset"; #}
{# } #}


{# </script> #}


{# <script> #}

{# if (document.getElementById('test3').innerText) { #}
{# document.getElementById('3').style.display = "none"; #}
{# } else { #}
{# document.getElementById('3').style.display = "unset"; #}
{# } #}


{# </script> #}

{# <script> #}

{# if (document.getElementById('test4').innerText) { #}
{# document.getElementById('4').style.display = "none"; #}
{# } else { #}
{# document.getElementById('4').style.display = "unset"; #}
{# } #}


{# </script> #}

{# <script> #}

{# if (document.getElementById('test5').innerText) { #}
{# document.getElementById('5').style.display = "none"; #}
{# } else { #}
{# document.getElementById('5').style.display = "unset"; #}
{# } #}


{# </script> #}


{# <script> #}

{# if (document.getElementById('test6').innerText) { #}
{# document.getElementById('6').style.display = "none"; #}
{# } else { #}
{# document.getElementById('6').style.display = "unset"; #}
{# } #}


{# </script> #}


{# <script> #}

{# if (document.getElementById('test7').innerText) { #}
{# document.getElementById('7').style.display = "none"; #}
{# } else { #}
{# document.getElementById('7').style.display = "unset"; #}
{# } #}


{# </script> #}


{# <script> #}

{# if (document.getElementById('test8').innerText) { #}
{# document.getElementById('8').style.display = "none"; #}
{# } else { #}
{# document.getElementById('8').style.display = "unset"; #}
{# } #}


{# </script> #}


{# <script> #}

{# if (document.getElementById('test9').innerText) { #}
{# document.getElementById('9').style.display = "none"; #}
{# } else { #}
{# document.getElementById('9').style.display = "unset"; #}
{# } #}


{# </script> #}


{# <script> #}

{# if (document.getElementById('test10').innerText) { #}
{# document.getElementById('10').style.display = "none"; #}
{# } else { #}
{# document.getElementById('10').style.display = "unset"; #}
{# } #}


{# </script> #}

{# <script> #}
{# /* #}
{# var debutDate = document.getElementById('dateDebut').innerHTML; #}
{# #}
{# #}
{# var today = new Date() #}
{# #}
{# today.setMonth(today.getMonth() - 1); #}
{# #}
{# var today2 = today.toLocaleString(); #}
{# #}
{# if (debutDate < today2) { #}
{# #}
{# #}
{# /*alert('hello' + debutDate) #}
{# document.getElementById('sortieTable').style.display = "none"; #}
{# #}
{# } #}
{# #}
{# */ #}


{# </script> #}

{# <script> #}
{# /*document.getElementById("desister").addEventListener("click", confirmCancel); #}

{# function confirmCancel() { #}


{# if (confirm("Cliquer sur OK pour confirmer le désistement.") == true) { #}
{# alert('ok was pressed'); #}

{# var a = document.getElementById('desister'); #}
{# a.href = "/#" #}


{# } else { #}
{# alert('cancel was pressed'); #}
{# } #}
{# } #}

{# */ #}
{# </script> #}

